@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 16px;
  font-size: large;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.button-wrap {
  gap: 8px;
  display: flex;
  margin-bottom: 8px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload {
  color: white;
  padding: 8px 16px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: rgb(109, 99, 243);
}

.file-name {
  font-weight: bold;
  text-align: center;
}

.submit-button {
  color: white;
  padding: 8px 16px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: rgb(99, 243, 123);
}

.submit-button:disabled {
  background-color: rgb(190, 190, 190);
}
